/* ========== RESPONSIVE STYLES ========== */
@media (max-width: 768px) {
  /* RESPONSIVE STYLES FOR NAVBAR*/
  .section-title {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.39px;
  }
  .section-description {
    font-size: 18px;
  }
  /* RESPONSIVE STYLES FOR NAVBAR*/
  nav {
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 16px;
  }
  nav .btn-container {
    display: none;
  }
  nav .links-container .m-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  nav .links-container .m-btn-transparent {
    border-color: var(--Gray-80);
  }
  nav .links-container .m-btn-transparent {
    border-color: var(--Gray-80);
  }

  .links-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: transparent;
    position: fixed;
    top: 0px;
    padding-top: 60px;
    right: -100%;
    height: 100%;
    width: 300px;
    z-index: 10;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.15);
    background: var(--Gray-30);
    transition: all 0.75s ease-in-out;
  }

  .sidebar-btn {
    display: block;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }

  #sidebar-active:checked ~ #overlay {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background: transparent;
    transition: background 0.75s ease-in-out;
    height: 100%;
    z-index: 8;
  }

  /* RESPONSIVE STYLES FOR HERO*/
  .hero {
    padding: 64px 16px;
  }
  .hero-contant {
    width: 100%;
  }
  .hero-title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.504px;
    margin: 20px 0;
  }
  .hero-contant .hero-description {
    font-size: 16px;
  }
  .hero-contant .app-store {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 48px 0 64px;
  }

  .mock-up .desktop-view {
    width: 400px;
    height: 270px;
    border-radius: 8px;
  }
  .mock-up .mobile-view {
    bottom: -50px;
    right: 63px;
    width: 100px;
    height: 200px;
  }

  /* ========== RESPONSIVE STYLES FOR Social Proof ========== */

  .social-proof {
    padding: 64px 16px;
  }
  .social-proof .img-container {
    justify-content: center;
    gap: 32px;
  }
  .social-proof .img-container img {
    width: 96px;
    height: 64px;
    flex-shrink: 0;
  }

  /* ========== RESPONSIVE STYLES FOR Features Section ========== */

  .features {
    padding: 64px 16px;
  }

  .features-intro h3 {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.39px;
  }

  .features-intro p {
    font-size: 16px;
  }

  .features-container {
    margin-top: 48px;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .feature-item img {
    width: 64px;
    height: 64px;
  }
  .feature-item h5 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.144px;
  }

  /* ========== RESPONSIVE STYLES FOR Statistics Section ========== */
  .statistics {
    padding: 64px 16px;
  }
  .statistics-section-intro {
    width: 100%;
  }
  .statistics-section-intro h3 {
    margin: 16px 0;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.39px;
  }
  .statistics-section-intro p {
    font-size: 18px;
  }
  .statistics-section-intro span {
    width: 48px;
    height: 48px;
  }
  .statistics-section-intro span img {
    width: 24px;
    height: 24px;
  }

  .statistics-container {
    width: 100%;
  }

  .statistics-container div p {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.144px;
  }

  /* ========== RESPONSIVE STYLES FOR Who is it for Section ========== */
  .who-is-it-for {
    padding: 96px 16px;
  }
  .who-is-it-for-section-intro {
    width: 100%;
  }

  .who-is-it-for-section-contants {
    margin: 40px 0 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    /* grid-auto-rows: auto; */
  }
  .who-is-it-for-section-contants .text-contants {
    width: 100%;
  }
  .who-is-it-for-section-contants .text-contants div {
    padding: 24px 0 24px 24px;
  }

  .who-is-it-for-section-contants .images-container {
    border-radius: 24px;
  }
  .who-is-it-for-section-contants .images-container div {
    width: 100%;
    height: 100%;
    position: relative;
  }

  /* ========== RESPONSIVE STYLES FOR Contact Section ========== */
  .contact {
    padding: 64px 16px;
  }
  .contact-info-items {
    margin: 50px 0 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

/* ========== RESPONSIVE STYLES FOR small devices ========== */
@media (max-width: 640px) {
  .mock-up .desktop-view {
    width: 343px;
    height: 228px;
    border-radius: 6.86px;
  }
  .mock-up .mobile-view {
    bottom: -50px;
    right: 63px;
    width: 78.202px;
    height: 169.58px;
  }

  .features-intro p {
    width: 100%;
  }

  .features-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .statistics-container {
    flex-direction: column;
  }
  .statistics-container div {
    padding: 32px 0;
  }
  .statistics-container div:nth-child(1),
  .statistics-container div:nth-child(2) {
    border-bottom: 2px solid var(--Gray-30);
    border-right: none;
  }

  .who-is-it-for-section-contants .images-container img {
    width: 250px;
    height: 354px;
  }
  .who-is-it-for-section-contants .images-container .img-1 {
    bottom: -50px;
    left: -20px;
    transform: rotate(-23deg);
  }
  .who-is-it-for-section-contants .images-container .img-2 {
    top: 20px;
    right: -30px;
    transform: rotate(-23deg);
  }

  .contact-info-items {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .contact-info-items .contact-info {
    padding: 20px;
  }

  .contact-info-items .contact-info h5 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.144px;
  }
}
